build
stage
.svn
.gradle
deploy/SLA.war/WEB-INF/classes
.idea
META-INF
lib
.metadata/
RemoteSystemsTempFiles/
myls.iml
out/
/bin/
.settings/
.classpath
.project
/caches/
/native/
/wrapper/
/daemon/
/target/
/log/*.log
